{% extends 'closends/setting_base.html' %}

{% block style_load %}
{#    <link href="/static/closends/css/bootstrap.min.css" rel="stylesheet">#}

    <style>
        .content_box {
            background-color: whitesmoke;
            height: 500px;
            margin-top: 10%;
            margin-left: 2%;
        }
    </style>
{% endblock %}

{% block content_box %}
    <div class="col-md-8 content_box">
    </div>

    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
