{% extends 'closends/setting_base.html' %}

{% block style_load %}
    <script src="/static/closends/js/bootstrap.js"></script>

    <style>
        .content_box {
            background-color: whitesmoke;
            height: 500px;
            margin-top: 10%;
            margin-left: 2%;
        }

        .content_box .head_image{
            margin-top: 5%;
            margin-left: 38%;
        }

        .content_box .head_image img{
            width: 140px;
            height: 140px;
        }

        .content_box .head_image form{
            margin-left: 10%;
            margin-top: -18%;
        }

        .content_box .head_image input{
            margin-left: 20%;
            position:absolute;
            clip:rect(0 0 0 0);
        }

        .content_box .head_image .ui_button {
            display: inline-block;
            width: 20px;
            line-height: 28px;
            font-size: 12px;
            text-align: center;
            color: grey;
            border: 1px solid #d0d0d5;
            border-radius: 4px;
            padding: 0 15px;
            min-width: 50px;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transition: border-color .15s, background-color .15s;
            transition: border-color .15s, background-color .15s;
            outline: 0 none;
            cursor: pointer;
            overflow: visible;
            opacity: 0.7;
        }

        .content_box .friend_mark{
            width: 30%;
            margin-top: 10%;
            margin-left: 36%;
        }

        .content_box .friend_mark input{
            margin-left: 5%;
            width: 60%;
        }

        .content_box .friend_mark select{
            margin-left: 5%;
            width: 60%;
        }

        .content_box .friend_mark button{
            margin-left: -20%;
            width: 40%;
        }

        .content_box .friend_mark strong{
            display: none;
            margin-left: -20%;
        }
    </style>

{% endblock %}

{% block content_box %}
    <div class="col-md-8 content_box">
        <div class="head_image">
            <img id="friend_head_image" class="img-circle" src="/static/closends/img/default_head.svg">
            <form>
                <label class="ui_button ui_button_primary" for="upload_friend_head_img">+</label>
                <input id="upload_friend_head_img" name="head_image" type="file">
            </form>
        </div>

        <div class="friend_mark">
            <form class="form-horizontal">
                <div class="form-group form-inline">
                    <label for="nickname">昵称</label>
                    <input type="text" class="form-control" id="nickname" placeholder="昵称">
                </div>

                <div class="form-group form-inline">
                    <label for="group">分组</label>
                    <select id="group" class="form-control">
                        {% for group in group_list %}
                            <option>{{ group }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group text-center">
                    <strong></strong>
                </div>

                <div class="form-group text-center">
                    <button id="add_friend" type="button" class="btn">添加</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            //预览用户上传的图片
            $("#upload_friend_head_img").on('change', function () {
                if(this.files.length > 0) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#friend_head_image").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            });

            //添加好友基本信息
            $("#add_friend").on("click", function () {
                if($(this).text() === "添加"){
                    let img = $("#upload_friend_head_img")[0].files[0];
                    let nickname = $("#nickname").val();
                    let group = $("#group").val();
                    let friend = new FormData();
                    if(nickname===""){
                        //提示输入昵称
                    }
                    else{
                        friend.append('head_img', img);
                        friend.append('nickname', nickname);
                        friend.append('group', group);
                        $.ajax({
                                url: "{% url 'closends:setting:add_friend_info' %}",
                                type: "post",
                                datatype: "json",
                                data: friend,
                                processData:false,  // 告诉jquery不转换数据
                                contentType:false,  // 告诉jquery不设置内容格式
                                async: false,
                                success: function (ret) {
                                    if(ret.status === 'success'){
                                        $("#group").attr('disabled', true);
                                        $("#nickname").attr('readonly', true);
                                        $(".friend_mark strong").css('display', 'block').text("添加成功！");
                                        $("#add_friend").text("继续添加");
                                    }
                                    else{
                                        $(".friend_mark strong").css('display', 'block').text("昵称已存在！");
                                        $("#add_friend").text("重新添加");
                                    }
                                }
                            });//ajax
                    }

                }
                else{
                    $(".friend_mark strong").css('display', 'none').text("");
                    $("#add_friend").text("添加");
                    $("#group").attr('disabled', false).val("未分组");
                    $("#nickname").attr('readonly', false).val("");
                    $("#friend_head_image").attr('src', '/static/closends/img/default_head.svg');
                }

            });
        });
    </script>
{% endblock %}
