<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="UTF-8"/>

    <link href="/static/closends/img/closends.ico" rel="shortcut icon">
    <link href="/static/closends/css/nav_bar.css" rel="stylesheet"/>

    {% block css_load %}
    {% endblock %}

    <style>
        body {
            color: #333;
            overflow-x: hidden;
            font: 12px/1.3 'Arial', 'Microsoft YaHei';
            background-color: #dfd7b2;
            background-image: none;
        }

        .main_box {
            background: no-repeat url("/static/closends/img/body_bg_page.jpg") center 0;
        }
    </style>
</head>

<body>
    <div class="main_box">
        <!--nav bar-->
        <div id="weibo_top_public">
        <div class="WB_global_nav WB_global_nav_v2 WB_global_nav_alpha ">
            <div class="gn_header clearfix">
                <div class="gn_logo">
                    <a href="{% url 'closends:content:index' %}" class="box"><span class="logo"></span></a>
                </div>

                <div class=" gn_search_v2">
                    <span class="placeholder"></span>
                    <input type="text" autocomplete="off" class="W_input">
                    <a href="#" title="搜索" class="W_ficon ficon_search S_ficon"></a>
                </div>

                <div class="gn_position">
                    <div class="gn_nav">
                        <ul class="gn_nav_list">
                            <li>
                                <a href="{% url 'closends:content:index' %}" class="S_txt1">
                                    <em class="W_ficon ficon_home S_ficon"></em>
                                    <em class="S_txt1">首页</em>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'closends:setting:user_info' %}" class="gn_name">
                                    <em class="W_ficon ficon_user S_ficon"></em>
                                    <em class="S_txt1">{{ user.username }}</em>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="gn_set S_line1">
                        <div class="gn_set_list">
                            <a href="{% url 'closends:setting:setting_index' %}" id="account" target="_top" onmouseover="show_topmenulist()" onmouseout="hide_topmenulist()">
                                <em class="W_ficon ficon_set S_ficon">account</em>
                            </a>
                            <div class="gn_topmenulist gn_topmenulist_set " id="accountLayer" style="display:none" onmouseover="show_topmenulist()" onmouseout="hide_topmenulist()">
                                <ul>
                                    <li class="gn_func"><a target="_top" href="{% url 'closends:setting:user_info' %}">个人信息</a></li>
                                    <li class="gn_func"><a target="_top" href="{% url 'closends:setting:user_binding' %}">账号绑定</a></li>
                                    <li class="gn_func"><a target="_top" href="{% url 'closends:setting:friend_manage' %}">密友管理</a></li>
                                    <li class="gn_func"><a target="_top" href="{% url 'closends:logout' %}">退出</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% block content_body %}
        {% endblock %}
    </div>

    <script>
        function show_topmenulist() {
            document.getElementById("accountLayer").style.display = "block";
        }
        function hide_topmenulist() {
            document.getElementById("accountLayer").style.display = "none";
        }
    </script>
</body>

</html>